* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100%;
    background-image: url("../images/vecteezy_elegant-gold-thin-wave-line-with-golden-sparkle-in-black_25414791.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow-y: scroll;
    font-family: Arial, sans-serif;
    color: white;
}

h3 {
    color: #fff;
    font-size: 38px;
    text-align: center;
}
h3 span {
    color: goldenrod;
}

.header {
    font-family: "Great Vibes", serif;
    background-color: rgba(8, 8, 8, 0.7);
    margin: 0px;
    padding: 20px;
    text-align: center;
    color: goldenrod;
    font-size: 1.8rem;
    background-color: rgba(8, 8, 8, 0.7);
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
}

.header h1 {
    font-family: "Great Vibes", serif;
    font-weight: 400;
    font-size: 4rem;
}
.instagram-icon {
    position: absolute;
    right: 40px;
    top: 40px;
    color: white;
    font-size: 30px;
    border: 2px solid white;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    padding: 6px;
}

.instagram-icon:hover {
    color: #e4405f;
}

 /* Menu de navegação */
 #menu-h {
     background-color: rgba(8, 8, 8, 0.7);
     padding: 10px 0;
     font-size: 1.8rem;
     font-weight: 600;
     text-align: center;
     border: 1px solid #ccc; 
 }

 #menu-h ul {
     list-style: none;
     padding: 0;
     margin: 0;
 }

 #menu-h ul li {
     display: inline-block;
     margin: 0 15px;
 }

 #menu-h ul li a {
     color: white;
     text-decoration: none;
     padding: 8px 16px;
     border-radius: 5px;
     transition: background-color 0.3s ease;
 }

 #menu-h ul li a:hover {
     background-color: goldenrod;
 }
 .menutoggle {
    position: fixed;
    left: 20px; 
    top: 30px; 
    font-size: 36px; 
    color: white;
    cursor: pointer;
    z-index: 999; 
    display: none; 
}
.close-menu {
    font-size: 40px;
    color: white;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 10000;
}

.close-menu:hover {
    color: goldenrod;
}

#mmobile {
    display: none;
    background-color: rgb(8, 8, 8);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 60%;
}
#mmobile ul {
    padding: 0;
    margin: 0;
}

#mmobile ul li {
    padding: 20px;
    text-align: left;
    font-size: 1.8rem;
}

#mmobile ul li a {
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-size: 1.8rem;
}

#mmobile ul li a:hover {
    background-color: goldenrod;
}

/* Parágrafos */
.main {
   padding: 2rem; 
   display: flex; 
   flex-direction: column; 
   gap: 0rem; 
p {
   font-size: 1.5rem; 
   max-width: 800px;
   color: white;
   padding: 10px;
   font-weight: bold; 
   text-align: justify; 
}
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 40px;
  }
  @media (max-width: 768px) {
    .menutoggle  {
        display: block;
    }


    h3 {
        font-size: 32px;
    }

    .header {
        font-size: 1.5rem;
        padding: 10px;
    }

    .header h1 {
        font-size: 4rem;
    }

    .instagram-icon {
        right: 20px;
        top: 35px;
        font-size: 27px;
        width: 40px;
        height: 40px;
        padding: 4px;
    }
    #menu-h {
        display: none;
    }
    #mmobile ul li {
        padding: 20px;
        text-align: left;
        font-size: 2rem; 
    }

    #mmobile ul li a {
        color: white;
        text-decoration: none;
        transition: background-color 0.3s ease;
        font-size: 2rem;
    }
    .main {
        padding: 10px;
        gap: 5rem;
    }

    section.servicos {
        padding: 20px;
    }

    .servicos .servicos-box ul {
        padding: 20px;
        gap: 10px;
    }

    .servicos .servicos-box h4 {
        font-size: 24px;
    }

    button {
        margin: 20px auto;
        padding: 15px 20px;
        font-size: 1rem;
    }

    footer {
        padding: 10px 0;
        margin-top: 20px;
    }
}